* {
    box-sizing: border-box;
}
 
body {
    margin: 0;
    background-color: var(--lightGrey)
}
 
/* TYPOGRAPHY */
/* ___________________________________ */
/* Brødtekst */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
 
/* Overskrifter */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
 
/* VARIABLES */
/* ___________________________________ */
 
:root {
  /* Farver */
 
  --deepOrange: #D08124;
  --lightBrown: #772608;
  --lightGrey: #F7F4F4; 
  --lightSand: #87ceeb;
  --navBackground: #F1D9BF;
  --sort: #000000;
  --cardBackground: #F1D9BF;
  --pageBackground: #FFF4E8;
  --navText: #772608;
  --interaktivElement: #9E3B17;
  --footerBackground: #8B7459;
 
  /* Spacere */
 
  --mobileSmallSpacer: 30px;
  --mobileMediumSpacer: 38px;
  --mobileLargeSpacer: 45px;
 
  --desktopSmallSpacer: 45px;
  --desktopMediumSpacer: 60px;
  --dekstopLargeSpacer: 90px;
  --desktopXLargeSpacer: 110px;
 
  /* Font weight */
 
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}
 
/* GENERAL STYLING */
/* ___________________________________ */
 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
  }
 
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Playfair Display", serif;
    font-weight: var(--fw-bold);
    line-height: 150%;
  }
 
  p {
    font-family: "Open Sans", sans-serif;
    font-weight: var(--fw-regular);
    line-height: 150%;
  }
 
  h1 {
    font-size: 48px;
    font-weight: var(--fw-bold);
    text-align: center;
    padding-block: var(--desktopMediumSpacer);
  }

  h2{
    font-size: 32px;
  }

  h3{
    font-size: 20px;
  }

  html, body{
    background-color: var(--pageBackground);
    overflow-x: auto;
    width: 100%;
  }
 
/* ____________________________________________________________________________________________________________________________________________________________________ */
/* Her styles HEADER */
 
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--desktopXLargeSpacer);
  gap: var(--desktopSmallSpacer);
  background-color: var(--navBackground);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 3;
}

nav .hoverA.active {
  border-bottom: 2px solid var(--lightBrown);
}

nav .hoverA.active:hover::after {
  transform: translateX(-50%) scaleX(0);
}

nav a {
  position: relative;            
  text-decoration: none;
  color: var(--lightBrown);
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 2px;           
}

nav .hoverA::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 2px;
  background-color: var(--lightBrown);
  transition: transform 0.2s ease;
}

nav .hoverA:hover::after {
  transform: translateX(-50%) scaleX(1);
}

 
/* ____________________________________________________________________________________________________________________________________________________________________ */
/* Her styles Footer */
 

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #8b6f4d;
  color: white;
  padding: 2rem;
  gap: 2rem;
}

.footer-column {
  min-width: 200px;
}

.footer-column h3 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.footer-column p, 
.footer-column ul {
  margin: 0;
  font-size: 0.95rem;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 0.3rem;
}

.footer-column ul li a {
  text-decoration: none;
  color: white;
}

.footer-column ul li a {
  position: relative;
  text-decoration: none;
  color: white;
}

.footer-column ul li a::after {
  content: ""; 
  /* SPØRG DAN OM DETTE -- CONTENT "" -- MÅ BRUGES? DET INDSÆTTER/GENERERE NYT CSS INDE I " " SOM OVERWRITER DET GAMLE CSS NÅR MAN HOVER. */
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: transform 0.2s ease;
}

.footer-column ul li a:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.social-icons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

.footer-mascot {
  width: 60px;
  height: auto;
}

/* ____________________________________________________________________________________________________________________________________________________________________ */
/* Her styles Forside */
 
.video-container {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}
 
.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: 0;
}
 
/* Dark overlay */
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
 
/* Bottom-left heading */
.video-container h1 {
  position: absolute;
  padding-block: 0;
  bottom: 1rem;
  left: 90px;
  z-index: 2;
  color: var(--pageBackground);
  font-size: 64px;
  font-weight: bold;
  margin: 0;
}

/* Forside Intro section */
.forsideIntroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--desktopMediumSpacer);
  text-align: center;
}

.forsideIntroSection h3{
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: var(--desktopSmallSpacer);
}

.forsideIntroSection p {
  font-size: 1.2rem;
  line-height: 1.5;
  max-width: 800px;
  margin-bottom: var(--desktopSmallSpacer);
}

/* 2 img cards med links, 50/50 side */
.forsideCTAWrapper {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-inline: var(--dekstopLargeSpacer);
  /* inline padding tog siderne og gav spacers men seb synes det ser mørkeligt ud fordi det kommer til at ligne en ny "HERO".. er enig men synes det ser bedre ud uden spacers fordi der er hover effects på som zoomer ind */
}

.forsideSide {
  position: relative;
  flex: 1;
  display: block;
  overflow: hidden;
  text-decoration: none;
  color: white;
}

.forsideImg {
  width: 100%;
  /* height: 80vh; */
  /* den normale height var 80 vh, men vi kan lege lidt med det og så se hvad vi bliver enige om i gruppen :) */
  height: 70vh;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease;
}

/* 50/50 img overlays */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.582);
  transition: background-color 0.5s ease;
  z-index: 1;
}

/* center text på imgs */
.forsideText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(1.5rem, 4vw, 3rem);
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0,0,0,0.6);
  margin: 0;
  padding: 0 1rem;
  text-align: center;
  z-index: 2;
}

/* Hover Effects med overlay og zoom effect */
.forsideSide:hover .overlay {
  background-color: rgba(0, 0, 0, 0);
}

.forsideSide:hover .forsideImg {
  transform: scale(1.1);
}


/* Waffles & Chaffles */

.forsideWafflesAndChaffles{
  text-align: center;
  margin-top: var(--dekstopLargeSpacer);
  margin-bottom: 0;
}

.forsideWafflesAndChaffles h2{
  font-size: 3rem;
}

.forsideWafflesAndChaffles h3{
  font-size: xx-large;
}

/* 3 "cards-CTA" */
.forsideContainer {
   display: flex;
   justify-content: center;
   gap: var(--dekstopLargeSpacer);
   margin-top: var(--dekstopLargeSpacer);
   margin-bottom: var(--dekstopLargeSpacer);
  }
  
  .forsideCard {
   background-color: var(--pageBackground);
   padding: 2rem 1rem;
   width: 18.75rem;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
  }
  
  .forsideIcon img {
   width: 8rem;
   height: 8rem;
   margin-bottom: 1rem;
  }
  
  .forsideCard h2 {
   margin-bottom: 1rem;
   align-items: center;
  }

  .forsideCard p {
    margin-bottom: 1rem;
   }

  .forsideKnap {
  display: inline-block;
  background-color: var(--interaktivElement);
  color: var(--pageBackground);
  padding: 0.75rem;
  border-radius: 0.5rem;
  text-decoration: none;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

  .forsideKnap a{
    text-decoration: none;
    color: var(--pageBackground);
  }
 
.forsideKnap:hover {
  background-color: #8f2f14;
}

/* ____________________________________________________________________________________________________________________________________________________________________ */
/* Her styles Åbningstider */
 .herobilledeaabningstider {
  position: relative;
  width: 100%;
  max-height: 40vh;
  overflow: hidden;
  padding: 0;
}

.herobilledeaabningstider img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  display: block;
}

.herobilledeaabningstider h1 {
position: absolute;
  padding-block: 0;
  bottom: 1rem;
  left: 90px;
  z-index: 2;
  color: var(--pageBackground);
  font-size: 64px;
  font-weight: bold;
  margin: 0;
}

.aabningstiderDarkOverlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.content {
  display: flex;
  padding: var(--desktopSmallSpacer) 90px;
  gap: 40px;
  background: var(--pageBackground);
}

.column {
  flex: 1;
}

.column h2 {
  margin-bottom: var(--desktopSmallSpacer);
  font-weight: normal;
  font-size: 3em;
}

.column h3 {
  font-size: 2em;
  padding-bottom: 1.6rem;
  font-weight: lighter;
}

.column p {
  margin-bottom: 1rem;
}

.map {
  text-align: center;
  padding: 0;
}

.map-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  height: 50vh;
  overflow: hidden;
}

.map-container iframe {
  width: 100%;
  height: 100%;
}

.addrese {
  display: flex;
  justify-content: center;
  align-items: center;        
  text-align: center;
}

.addrese p {
  padding-block: var(--dekstopLargeSpacer);
  font-size: 2rem;
  font-weight: bold;
}

/* ____________________________________________________________________________________________________________________________________________________________________ */
/* Her styles Bestil tid mekaniker */
 .heroSectionBookReparation {
  position: relative;
  padding: 0;
  height: 40vh;
  overflow: hidden;
}

.heroSectionBookReparation img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 0;
}

.heroSectionBookReparation .overlayImg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.heroSectionBookReparation h1 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 4rem;
  color: var(--pageBackground);
  z-index: 2;
  margin: 0;
  padding: 0;
  padding-left: 2rem;
}

.booking-section {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff3e8;
}

.booking-section h1 {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}

.booking-info {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.booking-form {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.form-group {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.full-width {
  flex: 1 1 100%;
}

input, select, textarea, button {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #000000;
 padding-right:4rem ;
}

.info-field {
  padding: 1rem;
  font-size: 1.1rem;
  width: 100%;       
  height: 15vh;    
  box-sizing: border-box;
}


textarea {
  height: 30vh;
  width: 26vw;
  resize: vertical;
}

.date-buttons {
  display: flex;
  gap: 1rem;
}

.date-buttons button {
  flex: 1;
  background-color: #fff;
  border: 1px solid #000000;
  cursor: pointer;
  padding: 0.5rem;
}

.date-buttons button:hover {
  background-color: #ccc;
}

.confirm-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #b6401d;
  color: white;
  border: none;
  padding: 0.75rem 3rem;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  align-self: flex-end;
}
.vedhæft-button {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  background-color: #b6401d;
  color: white;
  border: black 1px solid;
  padding: 0.5rem 3rem;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  align-self: flex-start;
}

.vedhæft-button img {
  height: 1rem;
  width: auto;
}

.confirm-button, .vedhæft-button:hover {
  background-color: #8f2f14;
}

/* ____________________________________________________________________________________________________________________________________________________________________ */
/* Her styles Bestil bord Cafe */
.heroSectionBookBord {
  position: relative;
  padding: 0;
  height: 40vh;
  overflow: hidden;
}

.heroSectionBookBord img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 0;
}

.heroSectionBookBord .overlayImg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.heroSectionBookBord h1 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 4rem;
  color: var(--pageBackground);
  z-index: 2;
  margin: 0;
  padding: 0;
  padding-left: 2rem;
}

.booking-section {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff3e8;
}

.booking-section h1 {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}

.booking-info {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.booking-form {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.form-group {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.full-width {
  flex: 1 1 100%;
}

input, select, textarea, button {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #000000;
 padding-right:4rem ;
}

textarea {
  height: 30vh;
  width: 26vw;
  resize: vertical;
}

.date-buttons {
  display: flex;
  gap: 1rem;
}

.date-buttons button {
  flex: 1;
  background-color: #fff;
  border: 1px solid #000000;
  cursor: pointer;
  padding: 0.5rem;
}

.date-buttons button:hover {
  background-color: #ccc;
}

.confirm-button {
  background-color: #b6401d;
  color: white;
  border: none;
  padding: 0.75rem 3rem;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  align-self: flex-end;
}

.confirm-button:hover {
  background-color: #8f2f14;
}

/* ____________________________________________________________________________________________________________________________________________________________________ */
/* Her styles Kontakt */
 .kontakt-section {
  padding: 2rem;
  background-color: var(--pageBackground)
}

.kontakt-container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  flex-wrap: wrap;
}


.kontakt-info h1{
  text-align: left;
}

.kontakt-container p {
  font-size: 1.2rem;
}

.p-information-brødtekst {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: var(--desktopSmallSpacer);
}


/* ____________________________________________________________________________________________________________________________________________________________________ */
/* Her styles Om os */

.omOsTitel{
  text-align: left;
  margin-left: var(--dekstopLargeSpacer);
}

.omOs-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: var(--dekstopLargeSpacer);
  margin-right: var(--dekstopLargeSpacer);

}
.omOs-section h1 {
 padding-top: 0;  
 text-align: left;     
}

.omOs {
  flex: 1;             
  min-width: 300px;          
}

.omOs-section img {
  flex: 1;
  max-width: 700px;
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  object-position: 0% 30%;
  margin-bottom: var(--dekstopLargeSpacer);
}

.omOs p {
  max-width: 40rem;
}

/* ____________________________________________________________________________________________________________________________________________________________________ */
/* Her styles Køb cykler */
  .heroSectionKøbCykler {
  position: relative;
  padding: 0;
  height: 40vh;
  overflow: hidden;
}

.heroSectionKøbCykler img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 0;
}

.heroSectionKøbCykler .overlayImg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.heroSectionKøbCykler h1 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 4rem;
  color: var(--pageBackground);
  z-index: 2;
  margin: 0;
  padding: 0;
  padding-left: 2rem;
}
/* ____________________________________________________________________________________________________________________________________________________________________ */
/* Her styles Begivenheder */

.main-content {
  padding: var(--desktopSmallSpacer);
}

h1, h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.event-hero {
  position: relative;
  height: 40vh;
  width: 100%;

}

.event-hero img {
  position: relative; 
  height: 40vh;     
  width: 100%;
  object-fit: cover;
  z-index: 1;   
}

.begivenhederDarkOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;   
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;    
}

.event-hero h1 {
  position: absolute;
  bottom: 1rem;
  left: 90px;
  z-index: 3;   
  color: var(--pageBackground);
  font-size: 64px;
  font-weight: bold;
  margin: 0;
  padding-block: 0;
}
.begivenhederDarkOverlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.upcoming-events, .Tidligere-begivenheder {
  background-color: var(--pageBackground);
}

.event-grid {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  padding-bottom: 0.5rem;
  scroll-snap-type: x mandatory;
}

.event-card {
  flex: 0 0 auto;
  width: 20rem;
  scroll-snap-align: start;
}

.event-card img {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}

.event-info {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}

/* ____________________________________________________________________________________________________________________________________________________________________ */
/* Her styles menukort */

.menukortHeroContainer{
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden; 
}

.menukortHeroImg{
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: 0% 30%;
  z-index: 0;
}

.menukortHeroTekst{
  z-index: 3;
}

.menukortHeroTekst h1{
  position: absolute;
  padding-block: 0;
  bottom: 1rem;
  left: 90px;
  z-index: 2;
  color: var(--pageBackground);
  font-size: 64px;
  font-weight: bold;
  margin: 0;
}

.menukortHeroOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.menukortGrid {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.menukortTopRow {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: var(--desktopMediumSpacer);
}

.menukortKolonne {
  flex: 1;
  min-width: 280px;
  margin-left: var(--dekstopLargeSpacer);
  margin-right: var(--dekstopLargeSpacer);
}

.menukortKolonne h2 {
  margin-bottom: 1rem;
}

.menukortKolonne ul {
  list-style: none;
  padding: 0;
}

.menukortKolonne li {
  margin-bottom: 1rem;
  line-height: 1.5;
  position: relative;
}

.menukortKolonne li span {
  float: right;
  font-weight: bold;
}

.menukortKolonne.drikkevarer ul{
  columns: 2;
  column-gap: 2rem;
}

.menukortKolonne.drikkevarer li {
  break-inside: avoid;
}

.menukortGalleri{
  display: flex;
  justify-content: center;
  gap: var(--desktopMediumSpacer);
  margin-top: var(--desktopMediumSpacer);
  margin-bottom: var(--dekstopLargeSpacer);
  flex-wrap: wrap;
}


/*____________________________________________________________________________________________________________________________________________________________________ */
/* Her laves medie queries */

/* Forside */

/* Åbningstider */

/* Begivenheder */

/* Kontakt */

/* Om os */

/* Book bord */

/* Book reparation */

/* Køb cykler */

/* Menukort */