* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* TYPOGRAPHY */
/* ___________________________________ */
/* Brødtekst */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Overskrifter */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* VARIABLES */
/* ___________________________________ */

:root {
  /* Farver */

  --deepOrange: #D08124;
  --lightBrown: #772608;
  --lightGrey: #F7F4F4;
  --lightSand: #87ceeb;
  --navBackground: #F1D9BF;

  /* Spacere */

  --mobileSmallSpacer: 30px;
  --mobileMediumSpacer: 38px;
  --mobileLargeSpacer: 45px;

  --desktopSmallSpacer: 45px;
  --desktopMediumSpacer: 60px;
  --dekstopLargeSpacer: 90px;

  /* Font weight */

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}

/* GENERAL STYLING */
/* ___________________________________ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Playfair Display", serif;
    font-weight: var(--fw-bold);
    line-height: 150%;
  }
  
  p {
    font-family: "Open Sans", sans-serif;
    font-weight: var(--fw-regular);
    line-height: 150%;
  }
  
  img {
    border-radius: 20px;
  }
  
  h1 {
    font-size: 48px;
    font-weight: var(--fw-bold);
    text-align: center;
    padding-block: var(--desktopMediumSpacer);
  }

/* ____________________________________________________________________________________________________________________________________________________________________ */
/* Her styles HEADER */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--desktopSmallSpacer);
    background-color: var(--navBackground); 
  }
  
  nav a {
    text-decoration: none;
    color: var(--lightBrown);
    font-weight: bold;
    font-size: 20px;
  }

/* ____________________________________________________________________________________________________________________________________________________________________ */
/* Her styles Footer */

/* ____________________________________________________________________________________________________________________________________________________________________ */
/* Her styles Forside */

/* ____________________________________________________________________________________________________________________________________________________________________ */
/* Her styles Åbningstider */

/* ____________________________________________________________________________________________________________________________________________________________________ */
/* Her styles Bestil tid mekaniker */

/* ____________________________________________________________________________________________________________________________________________________________________ */
/* Her styles Bestil bord Cafe */

/* ____________________________________________________________________________________________________________________________________________________________________ */
/* Her styles Kontakt */

/* ____________________________________________________________________________________________________________________________________________________________________ */
/* Her styles Om os */

/* ____________________________________________________________________________________________________________________________________________________________________ */
/* Her styles Køb cykler */

/* ____________________________________________________________________________________________________________________________________________________________________ */
/* Her styles Begivenheder */